In [1]:
30*45

1350

In [2]:
import pandas

In [4]:
import pandas as pd

In [10]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.0.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 61 Stepping 4, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.23.4
pytest: 3.8.0
pip: 10.0.1
setuptools: 40.2.0
Cython: 0.28.5
numpy: 1.15.1
scipy: 1.1.0
pyarrow: None
xarray: None
IPython: 6.5.0
sphinx: 1.7.9
patsy: 0.5.0
dateutil: 2.7.3
pytz: 2018.5
blosc: None
bottleneck: 1.2.1
tables: 3.4.4
numexpr: 2.6.8
feather: None
matplotlib: 2.2.3
openpyxl: 2.5.6
xlrd: 1.1.0
xlwt: 1.3.0
xlsxwriter: 1.1.0
lxml: 4.2.5
bs4: 4.6.3
html5lib: 1.0.1
sqlalchemy: 1.2.11
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

In [11]:
pandas.__version__

'0.23.4'

In [12]:
pd.show_versions?

In [13]:
pd.read_csv?

In [16]:
oo = pd.read_csv('E:\learn\learn\python\olympic.csv', skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [27]:
oo['NOC']

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [28]:
oo.Gender

0        Men
1        Men
2        Men
3        Men
4        Men
5        Men
6        Men
7        Men
8        Men
9        Men
10       Men
11       Men
12       Men
13       Men
14       Men
15       Men
16       Men
17       Men
18       Men
19       Men
20       Men
21       Men
22       Men
23       Men
24       Men
25       Men
26       Men
27       Men
28       Men
29       Men
        ...
29186    Men
29187    Men
29188    Men
29189    Men
29190    Men
29191    Men
29192    Men
29193    Men
29194    Men
29195    Men
29196    Men
29197    Men
29198    Men
29199    Men
29200    Men
29201    Men
29202    Men
29203    Men
29204    Men
29205    Men
29206    Men
29207    Men
29208    Men
29209    Men
29210    Men
29211    Men
29212    Men
29213    Men
29214    Men
29215    Men
Name: Gender, Length: 29216, dtype: object

In [33]:
oo[['City', 'NOC']]

          City  NOC
0       Athens  HUN
1       Athens  AUT
2       Athens  GRE
3       Athens  GRE
4       Athens  GRE
5       Athens  GRE
6       Athens  HUN
7       Athens  GRE
8       Athens  GRE
9       Athens  AUT
10      Athens  GRE
11      Athens  USA
12      Athens  HUN
13      Athens  USA
14      Athens  GER
15      Athens  USA
16      Athens  GBR
17      Athens  FRA
18      Athens  AUS
19      Athens  USA
20      Athens  GBR
21      Athens  USA
22      Athens  USA
23      Athens  GRE
24      Athens  AUS
25      Athens  HUN
26      Athens  GRE
27      Athens  USA
28      Athens  GRE
29      Athens  USA
...        ...  ...
29186  Beijing  KAZ
29187  Beijing  UZB
29188  Beijing  RUS
29189  Beijing  ARM
29190  Beijing  KOR
29191  Beijing  RUS
29192  Beijing  AZE
29193  Beijing  KAZ
29194  Beijing  KGZ
29195  Beijing  RUS
29196  Beijing  AZE
29197  Beijing  BLR
29198  Beijing  UKR
29199  Beijing  FRA
29200  Beijing  KGZ
29201  Beijing  FRA
29202  Beijing  BUL
29203  Beijing  GEO
29204  Beijing  CHN
29205  Beijing  TUR
29206  Beijing  ITA
29207  Beijing  HUN
29208  Beijing  KAZ
29209  Beijing  USA
29210  Beijing  RUS
29211  Beijing  GER
29212  Beijing  LTU
29213  Beijing  ARM
29214  Beijing  CUB
29215  Beijing  RUS

[29216 rows x 2 columns]

In [30]:
type(oo)

pandas.core.frame.DataFrame

In [32]:
type(oo.City)

pandas.core.series.Series

In [34]:
type(oo[['City', 'NOC']])

pandas.core.frame.DataFrame

In [36]:
oo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
10,Athens,1896,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
11,Athens,1896,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
12,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
14,Athens,1896,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
16,Athens,1896,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
17,Athens,1896,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
20,Athens,1896,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
22,Athens,1896,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
23,Athens,1896,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
26,Athens,1896,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
28,Athens,1896,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29186,Beijing,2008,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29188,Beijing,2008,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29189,Beijing,2008,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29190,Beijing,2008,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29192,Beijing,2008,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29193,Beijing,2008,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29194,Beijing,2008,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29196,Beijing,2008,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29197,Beijing,2008,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29198,Beijing,2008,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29200,Beijing,2008,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29201,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29202,Beijing,2008,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29204,Beijing,2008,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29205,Beijing,2008,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29208,Beijing,2008,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [37]:
oo['NOC']

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [38]:
oo.NOC

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [39]:
type(oo.NOC)

pandas.core.series.Series

In [42]:
oo[['City']]

          City
0       Athens
1       Athens
2       Athens
3       Athens
4       Athens
5       Athens
6       Athens
7       Athens
8       Athens
9       Athens
10      Athens
11      Athens
12      Athens
13      Athens
14      Athens
15      Athens
16      Athens
17      Athens
18      Athens
19      Athens
20      Athens
21      Athens
22      Athens
23      Athens
24      Athens
25      Athens
26      Athens
27      Athens
28      Athens
29      Athens
...        ...
29186  Beijing
29187  Beijing
29188  Beijing
29189  Beijing
29190  Beijing
29191  Beijing
29192  Beijing
29193  Beijing
29194  Beijing
29195  Beijing
29196  Beijing
29197  Beijing
29198  Beijing
29199  Beijing
29200  Beijing
29201  Beijing
29202  Beijing
29203  Beijing
29204  Beijing
29205  Beijing
29206  Beijing
29207  Beijing
29208  Beijing
29209  Beijing
29210  Beijing
29211  Beijing
29212  Beijing
29213  Beijing
29214  Beijing
29215  Beijing

[29216 rows x 1 columns]

In [43]:
type(oo[['City', 'NOC']])

pandas.core.frame.DataFrame

In [44]:
oo.shape

(29216, 10)

In [47]:
oo.shape[0]

29216

In [48]:
oo.head(1)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold

In [50]:
oo.tail(2)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [51]:
oo.tail()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [52]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
City            29216 non-null object
Edition         29216 non-null int64
Sport           29216 non-null object
Discipline      29216 non-null object
Athlete         29216 non-null object
NOC             29216 non-null object
Gender          29216 non-null object
Event           29216 non-null object
Event_gender    29216 non-null object
Medal           29216 non-null object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

In [ ]:
oo.info()